extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Sean Voigts
        p.lead.text-light Aspiring Full Stack JavaScript Developer.

        .portfolio-bio
          p Sean Voigts (Shawn Foaz) A web designer, cookie addict and generally a good person.

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li jQuery
          li SCSS
          li HTML
          li Sass
          li WordPress
          li Node

        h6 Contact Info

        ul
          li 000.000.0000
          li s.voivoi@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/seanvoigts/') LinkedIn
        a.button.expanded(href='https://github.com/seavoi') GitHub
        a.button.expanded(href='https://twitter.com/seavoi') Twitter
        a.button.expanded(href='https://pseudodeveloper.wordpress.com/') Blog
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  